<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/reset_password.css">
    <title>Reset Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="container" id="reset-password-container">
        <h2>Reset Password</h2>
        <form id="reset-password-form" method="POST">
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" id="new-password" name="new_password" placeholder="New Password" required>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm New Password" required>
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>

<script>
    document.getElementById('reset-password-form').addEventListener('submit', async function(event) {
        event.preventDefault();

        const password = document.getElementById('new-password').value;
        const confirmPassword = document.getElementById('confirm-password').value;
        const token = new URLSearchParams(window.location.search).get('token');

        if (password !== confirmPassword) {
            alert('Passwords do not match!');
            return;
        }

        const response = await fetch(`/reset_password/${token}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                password
            }),
        });

        const data = await response.json();

        if (response.ok) {
            alert('Password has been reset successfully!');
            window.location.href = '/login'; // Redirect to login page or any other page
        } else {
            alert(data.error || 'An error occurred during password reset.');
        }
    });
</script>

</html>