<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/individual/home.css">
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/images/wallet.png" alt="Personal Budget Logo">
            <h1>Personal Budget</h1>
        </div>
        <nav>
            <ul>
                <li class="auth-buttons"><button class="auth-button" id="home-btn">Home</button></li>
                <li class="auth-buttons">
                    <button class="auth-button" id="login-btn">Log in</button>
                    <button class="auth-button" id="signup-btn">Sign up</button>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container" id="main-content">
        <img src="/static/images/wallet.png" alt="Wallet Icon">
        <h1>PERSONAL BUDGET</h1>
        <h2>Expense Manager</h2>
        <p>Manage your personal finances and easily track your money, expenses and budget</p>
        <p>Try the web app today</p>
    </div>

    <div class="container" id="login-form-container" style="display: none;">
        <h2>Login</h2>
        <form id="login-form" method="POST">
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="email" id="login-email" name="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" id="login-password" name="password" placeholder="Password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>