<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/templates/index.html">
                <img src="/static/images/wallet.png" alt="Personal Budget Logo">
                <h1>Personal Budget</h1>
            </a>
        </div>
        <nav>
            <ul>
                <li class="auth-buttons"><button class="auth-button" id="home-btn">Home</button></li>
                <li class="auth-buttons"><button class="auth-button" id="logout-btn">Log out</button></li>
                <li class="auth-buttons">
                    <form action="http://localhost:8502/" method="get">
                        <button type="submit" class="auth-button" id="budget-generator-btn">Budget Generator</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Welcome to your Dashboard</h1>
        <p>Here you can manage your personal finances.</p>
    </div>
</body>

</html>